<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="SLMUrl" value="http://w-bpn-4109/" />
  </appSettings>
  <connectionStrings>
    <add name="MyDbConn" connectionString="Server=VIDIVALIANTO-PC;Database=seirendb;User Id=sa; password=*gunawan70807;" />
    <add name="seirendbConnectionString" connectionString="Data Source=VIDIVALIANTO-PC;Initial Catalog=seirendb;User ID=sa;Password=*gunawan70807"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    
        <customErrors mode="Off"/>
  </system.web>
</configuration>